body{
    background-color: rgb(232, 230, 230);
}
body, h1 {
margin: 0;
padding: 0;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color:#7749F8;
/* padding: 10px 20px; */
}

.navbar-left {
margin-left: 5%;
}

.navbar-right {
margin-right: 5%;
}

.navbar-heading-left,
.navbar-heading-right {
color: white;
font-size: 24px;
}
body, h1 {
margin: 0;
padding: 0;
}

.main-header {
background-color: var(--default-white, #FFF);
padding: 20px 0;
text-align: left;
}

.header-content {
max-width: 1200px;
margin: 0 auto;
padding: 0 7%;
}

.header-heading-left {
color:black;
font-size: 36px;
}
/* Reset default margin and padding for the whole page */
body, h1, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .centered-div {
    width: 456px;
    height: 259px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .heading-placeholder {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
width: 760px;
flex-direction: column;
align-items: flex-start;
gap: 6px;
  }
  .input-field2 {
    width: 100%;
    height: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
width: 760px;
flex-direction: column;
align-items: flex-start;
gap: 6px;
  }
  
  .colorful-button {
    margin-left: -115%;
    padding: 10px 20px;
    width: 50%;
    background-color:#7749F8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  